body {
  margin: 0;
  background-color: rgb(233, 228, 228);
  font-family: Arial, Helvetica, sans-serif;
}

#main-content {
  padding: 20px;
}

h1,
h2 {
  margin: 0;
}

#navigation {
  background-color: rgb(34, 33, 33);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

#navigation img {
  width: 100px;
  padding-right: 10px;
}

#secao-tipo {
}

#secao-tipo ul li {
  width: 100%;
}

#secao-tipo ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.card {
  width: 60%;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
}

section h2 {
  margin-bottom: 20px;
}
