body {
  margin: 0;
  background-color: rgb(233, 228, 228);
}

h1 {
  margin: 0;
}

.menu {
  background-color: rgb(34, 33, 33);
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.menu img {
  width: 100px;
  padding-right: 10px;
}
